target/
log.roo
.project
.classpath
.springBeans
.DS_Store
*.iml
*.ipr
*.iws
.settings/
src/main/java/medizin/client/managed/
src/main/java/medizin/server/domain/*.aj
src/test/java/medizin/server/domain/*.aj